.content{
    display: flex;
    padding: 1rem;
}

.product-details .title{
    align-items: center;
    flex-wrap: wrap;
    font-size: 28px;
    letter-spacing: 0.20px;
    font-family: 'Times New Roman', Times, serif;
}

.product-details .price{
    font-size: 24px;
}

.product-details .image{
    padding: 10px;
    border-bottom-color:azure;
    width: 120px;
    height: 120px;
    object-fit: contain;
}